<a href="https://colab.research.google.com/github/Akanerd/Orbit-Archieve/blob/main/Day%203%20-%20Tuple%20dalam%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple dalam Python

**Tuple** mirip seperti list namun nilai pada **tuple** tidak bisa diubah.
**Tuple** menggunakan tanda kurung () sedangkan **list** menggunakan **list** menggunakan kurung siku [ ]

In [1]:
t = 12,123,321 # tuple dari variabel t

In [2]:
# Tuple bisa juga dibuat tanpa tanda kurung
# t = (12,123,321) = 12,123,321

In [3]:
t

(12, 123, 321)

In [4]:
r = (12,123,321)
print(r)

(12, 123, 321)

In [7]:
# Tuple mengizinkan untuk menduplikasi nilai dan tuple memiliki sifat yang orderer (Terurut) 
z = ("Andi","Ani","Ana","Andi")
print(z)
print(len(z))

('Andi', 'Ani', 'Ana', 'Andi')
4

In [9]:
# Membuat tuple dengan satu variabel
var_tup = ("Mangga",)
print(type(var_tup))

#untuk membuat tuple dengan satu variabel perlu utnuk menambah koma
#jika tidak ditambahkan koma python tidak akan dianggap itu sebagai tuple

<class 'tuple'>

In [10]:
var_tup = ("Mangga","Jeruk" ,"Durian")
var_tup1 = (1,2,3,4)
var_tup2 = (1,3,5,"Ture","Yep!")
print(var_tup,var_tup1,var_tup2)

('Mangga', 'Jeruk', 'Durian') (1, 2, 3, 4) (1, 3, 5, 'Ture', 'Yep!')

In [12]:
# Mengakses Tuple
q = tuple('Orbit')
print(q)

('O', 'r', 'b', 'i', 't')

In [13]:
# Mengakses tuple
# Variabel o = q = orbit
o = q[3]
print(o)
# O r b i t
# 0 1 2 3 4

i

In [14]:
q[3] = 'a'
print(q)

TypeError: ignored

In [17]:
#penjumlahan pada tuple hanya bisa berupa pengabunggan
c = q * 3 
print(c)

('O', 'r', 'b', 'i', 't', 'O', 'r', 'b', 'i', 't', 'O', 'r', 'b', 'i', 't')

In [19]:
d = c + q
print(d)

('O', 'r', 'b', 'i', 't', 'O', 'r', 'b', 'i', 't', 'O', 'r', 'b', 'i', 't', 'O', 'r', 'b', 'i', 't')

In [21]:
s1 = (1,2,3,4,5)
s2 = (3,4,5,6,7)
s3 = s1 + s2
print(s3)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

Jika ingin menjumlah dua buah variabel pada python untuk operasi matematis, disaat dilakukan dengan loop namun tentunya sangat bermasalah jika kita punya data yang banyak maka umpy adalah solusinya loop dan numpy dibahas selanjutnya