<a href="https://colab.research.google.com/github/Akanerd/Orbit-Archieve/blob/main/Day%2011%20-%20FGD%20Module3%20Section%201Lab%202%20Data%20Manipulation%20With%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing and exporting JSON files**

In [4]:
import json
dictionary = {
              "name" : "Meghan",
              "rollno":56,
              "cgpa": 8.6,
              "age":23
              }
# Serializing json             
json_object = json.dumps(dictionary,indent =4)
# writing to sample.json
with open("sample.json","w") as outfile:
  outfile.write(json_object)
#Opening JSON file
with open('sample.json','r') as openfile:
  #Reading from json file
  json_object = json.load(openfile)
print(json_object)
print(type(json_object))

{'name': 'Meghan', 'rollno': 56, 'cgpa': 8.6, 'age': 23}
<class 'dict'>

# **Selection of Columns and filtering DataFrame**

Selecting

In [5]:
import pandas as pd
data = {'name': ['Indar', 'Angela', 'Tsy', 'Paio'],
'reports': [3, 4, 2, 12],
'age':[23, 22, 32, 24]
}
df = pd.DataFrame(data)

In [8]:
col_name = df['name']
col_reports = df['reports']
print(col_name)
print(col_reports)

0     Indar
1    Angela
2       Tsy
3      Paio
Name: name, dtype: object
0     3
1     4
2     2
3    12
Name: reports, dtype: int64

*   .loc : Purely label-location based indexer for selection by label (but may also be used
with a
*   .iloc: Purely integer-location based indexing for selection by position (but may also
be used with a boolean array).

In [9]:
df = pd.DataFrame(data)
                #Pemanggilan berdasarkan label age
print(df.loc[:,'age'])

0    23
1    22
2    32
3    24
Name: age, dtype: int64

In [11]:
               #Pemanggilan berdasarkan baris 1
print(df.iloc[:, 1])

0    23
1    22
2    32
3    24
Name: age, dtype: int64

# **Dropping**

In [12]:
#Dropping rows and columns in DataFrame
import pandas as pd
data = {'name': ['Indar', 'Angela', 'Tsy', 'Paio'],
'reports': [3, 4, 2, 12],
'age':[23, 22, 32, 24]
}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])
df.drop('a')

     name  reports  age
b  Angela        4   22
c     Tsy        2   32
d    Paio       12   24

In [27]:
data = {'name': ['Indar', 'Angela', 'Tsy', 'Paio'],
'reports': [3, 4, 2, 12],
'age':[23, 22, 32, 24],
'city':['Medan', 'Jakarta', 'Badung', 'Jakarta']
}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])
print(df)

     name  reports  age     city
a   Indar        3   23    Medan
b  Angela        4   22  Jakarta
c     Tsy        2   32   Badung
d    Paio       12   24  Jakarta

In [28]:
df.drop('age',axis=1)

     name  reports     city
a   Indar        3    Medan
b  Angela        4  Jakarta
c     Tsy        2   Badung
d    Paio       12  Jakarta

In [29]:
#Drop a row using the index value. Here we drop 3rd row with index 'c'.
df.drop(df.index[2])

     name  reports  age     city
a   Indar        3   23    Medan
b  Angela        4   22  Jakarta
d    Paio       12   24  Jakarta

# **Joining and Merging Pandas Data Frame**

In [30]:
import pandas as pd
raw_data = {
'subject_id': ['1','2','3','4'],
'first_name': ['Alex','Allan', 'Adit','Frezco'],
'last_name':['Anderson', 'Ackerman', 'Aoni','Ali']
}
df_a = pd.DataFrame(raw_data)

In [31]:
raw_data = {
'subject_id': ['4','5','6','7'],
'first_name': ['Alexa','Amy', 'Aadira','Freya'],
'last_name':['Lopez', 'Horan', 'Styles','Twain']
}
df_b = pd.DataFrame(raw_data)

In [32]:
#Joining two dataframes along rows
df_new = pd.concat([df_a, df_b])
df_new

  subject_id first_name last_name
0          1       Alex  Anderson
1          2      Allan  Ackerman
2          3       Adit      Aoni
3          4     Frezco       Ali
0          4      Alexa     Lopez
1          5        Amy     Horan
2          6     Aadira    Styles
3          7      Freya     Twain

In [33]:
#Joining two dataframes along columns
df_new = pd.concat([df_a,df_b], axis=1)
df_new

  subject_id first_name last_name subject_id first_name last_name
0          1       Alex  Anderson          4      Alexa     Lopez
1          2      Allan  Ackerman          5        Amy     Horan
2          3       Adit      Aoni          6     Aadira    Styles
3          4     Frezco       Ali          7      Freya     Twain

# **Merging**

In [34]:
df_a.merge(df_b)
df_a

  subject_id first_name last_name
0          1       Alex  Anderson
1          2      Allan  Ackerman
2          3       Adit      Aoni
3          4     Frezco       Ali

# **Descriptive Analysis with Python**

In [35]:
import pandas as pd
data = {'name': ['Indar', 'Angela', 'Tsy', 'Paio'],
        'age': [23, 31, 22, 20],
        'preTestScore':[35, 36, 33, 40],
        'postTestScore':[39, 37, 32, 38]
        }
df = pd.DataFrame(data, columns =
['name','age','preTestScore','postTestScore'])

In [37]:
df['preTestScore'].describe() #Shows the statistics of df['preTestScore'].describe() #Shows the statistics of

count     4.00000
mean     36.00000
std       2.94392
min      33.00000
25%      34.50000
50%      35.50000
75%      37.00000
max      40.00000
Name: preTestScore, dtype: float64

In [38]:
df['preTestScore'].cumsum()

0     35
1     71
2    104
3    144
Name: preTestScore, dtype: int64

In [39]:
df['preTestScore'].count()

4

In [40]:
df['preTestScore'].min()

33

In [41]:
df['preTestScore'].max()

40

In [42]:
df['preTestScore'].median()

35.5

In [43]:
df['preTestScore'].var()

8.666666666666666

In [44]:
df['preTestScore'].std()

2.943920288775949

In [45]:
df['preTestScore'].skew()

0.9406609206739719

In [46]:
df['preTestScore'].kurt()

1.5