<a href="https://colab.research.google.com/github/Akanerd/Orbit-Archieve/blob/main/Day%2011%20-%20Live%20Code%20Sesi%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
data = ['a','b','c','d']
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [6]:
data = {'name':['Jean','Robert','Lee','Jmaes'],'year':[2021,2014,2016,2001],'report':[3,2,4,12]}
index =['Melbourne', 'Texas', 'Berlin', 'Rome']
df = pd.DataFrame(data,index)
print(df)

             name  year  report
Melbourne    Jean  2021       3
Texas      Robert  2014       2
Berlin        Lee  2016       4
Rome        Jmaes  2001      12

In [12]:
data = {'name':['John J Jameson','Vera D Lynn','Martin J King','Iruma K Smith','Michale G Krupp'],
        'score':[6,7,3,9,7]}
df = pd.DataFrame(data)
df.T

,0,1,2,3,4
name,John J Jameson,Vera D Lynn,Martin J King,Iruma K Smith,Michale G Krupp
score,6,7,3,9,7

In [25]:
def get_code(name):
  return "".join(k[0].upper() for k in name.split(' '))
df['code'] = df['name'].map(get_code)
df.T

,0,1,2,3,4
name,John J Jameson,Vera D Lynn,Martin J King,Iruma K Smith,Michale G Krupp
score,6,7,3,9,7
code,JJJ,VDL,MJK,IKS,MGK