<a href="https://colab.research.google.com/github/Akanerd/Orbit-Archieve/blob/main/Day%208%20-%20Python%20OOP%20dan%20common%20Packages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Class Dan Object**

In [1]:
class course:
  name = ""
  duration = 0

In [2]:
c1 = course()
c1.name = "Programming"
c1.duration = 120
print(c1.name)
print(c1.duration)

Programming
120

Python Class Dan Object bagian 2

In [3]:
class mobil:
  roda = 4
  def __init__(self,merk,warna):
    self.merk = merk
    self.warna = warna
 
  def showdescription(self):
    print("mobil merk {} dan warna {}".format(self.merk,self.warna))
  def changecolor(self,warna):
    self.warna = warna

In [4]:
m1 =mobil('tesla', 'hitam')
m1.showdescription();
m1.changecolor('biru')
m1.showdescription()

m2 =mobil('Subaru', 'hitam')
m2.showdescription();
m2.changecolor('biru')
m2.showdescription()

mobil merk tesla dan warna hitam
mobil merk tesla dan warna biru
mobil merk Subaru dan warna hitam
mobil merk Subaru dan warna biru

# **Method Inside The class**

In [5]:
class employee:
  empcount = 0  
  def __init__(self,name,salary):
      self.name = name
      self.salary = salary
      employee.empcount +=1
  def display_count(self):
    print("Total karyawan : {}".format(employee.empcount))
  def display_employee(self):
    print("nama = {} dan gaji = {}".format(self.name,self.salary))

class manager(employee):
  mngcount = 0
  def __init__(self,name,salary,teamsize):
    super().__init__(name,salary)
    self.teamsize = teamsize
    manager.mngcount +=1
  def display_teamsize(self):
    print("teamsize = {}".format(self.teamsize))

In [6]:
e1 = employee('John',2500)
e2 = employee('sarah',2500)
e1.display_employee()
e1.display_count()
e2.display_employee()
e2.display_count()

nama = John dan gaji = 2500
Total karyawan : 2
nama = sarah dan gaji = 2500
Total karyawan : 2

# **Inheritance Pada Python**

In [7]:
mng1 = manager('hss',2500,4)
mng1.display_employee()
mng1.display_teamsize()
mng1.display_count()

nama = hss dan gaji = 2500
teamsize = 4
Total karyawan : 3

# **Python Modules dan built Modules**

**Python Built in Modules**

In [13]:
import statistics

x = [4,5,4,4,5,6,7,7,8,8,9,2,3,5,6,6,6]
mean = statistics.mean(x)
print(mean)
median = statistics.median(x)
print(median)
modus = statistics.mode(x)
print(modus)
standardeviasi = statistics.stdev(x)
print(standardeviasi)

5.588235294117647
6
6
1.8727928185403933

# **Modules pada Python**

Modules OS

In [19]:
from genericpath import getctime
import os
print("number of cores in processor :",os.cpu_count())
print("Cureent Directory : {} ".format(os.getcwd()))
print("Is my code directory : {} ".format(os.path.isdir("mycodes")))
os.mkdir("mycodes")
print("Is my code directory : {} ".format(os.path.isdir("mycodes")))
os.path.getctime("mycodes")

number of cores in processor : 2
Cureent Directory : /content
Is my code directory : False
Is my code directory : True

1646622679.8234317

Modules Time

In [21]:
import time 
local_time = time.ctime()
print("local time = {} ".format(local_time))

local time = Mon Mar  7 03:13:21 2022

In [22]:
print("Intermediate Time")
time.sleep(10)
print("Delay print")

Intermediate Time
Delay print

Modules Math

In [23]:
import math

print(math.pi)
a = 8.99999

print(math.ceil(a))
print(math.floor(a))

b = 4
print(math.factorial(b))

3.141592653589793
9
8
24