<a href="https://colab.research.google.com/github/Akanerd/Orbit-Archieve/blob/main/Day_3_String_dalam_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String dalam Python

In [1]:
# String
# Menyatakan karakter/kalimat berupa huruf, angka, dll (diapit tanda "" atau '')

In [ ]:
"Belajar Python" # Kutip dua

In [ ]:
'Belajar Python Dasar' # kutip satu

In [4]:
# Mengakses nilai string
# Variabel nama dengan value Jhoni Jhoni

# J H O N I   J H O N I
# 0 1 2 3 4 5 6 7 8 9 10
name = ("Jhoni Jhoni");
print("name[0]: ", name[1])
print("name[0]: ",name[0:5])

name[0]:  h
name[0]:  Jhoni

In [18]:
# Belajar String 
# Mengakses Nilai String
a = ("Orbit Future Academy")
#     O r b i t
#     0 1 2 3 4 5
b = ("Pendidikan Ai di Indonesia")
print("Belajar Ai",b[14:16],a[0:5])

Belajar Ai di Orbit

In [22]:
# Mengupdate String
message = 'Hello World'

# H e l l o
# 1 2 3 4 5

# :6 array sebelum 6
# 6: array setelah 6
print("Updated String : ",message[:6] + 'Python')

Updated String :  Hello Python

In [23]:
# Penjumlahan String
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [25]:
# Format String
umur = "Dua satu"
txt = "Nama saya Hafizh, umur saya " + umur
print(txt)

Nama saya Hafizh, umur saya Dua satu

In [28]:
# Format String
# Gabungan antara String & Integer
age = 21
txt = "Nama saya Hafizh, Umur saya {} "
print(txt.format(age))

Nama saya Hafizh, Umur saya 21