# Pandas

 1. Pandas (Python for data Analysis) adalah library python yang fokus untuk proses analisis data seperti manipulasi data,
    persiapan data dan pembersihan data
 2. Dalam Pandas terdapat dua objek yaitu dataframe dan series
 3. Dataframe adalah objek yang memiliki struktur data tabular berorientasi pada kolom dengan label baris dan kolom
    Sedangkan series adalah objek array 1 dimensi yang memiliki label

In [1]:
import numpy as np
import pandas as pd

## Membuat Series

kita bisa membuat series dari tipe data list, numpy,array,atau dictionary

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr    = np.array([10,20,30])
d      = {'a':10,'b':20,'c':30}

** Membuat Series dengan list **

In [3]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data = my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

** Membuat Series dengan Numpy arrays **

In [6]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

** Membuat Series dengan Dictionary **

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

## Data in a Series

In [9]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [10]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Menggunakan Index

In [11]:
ser1 = pd.Series([1,2,3,4],index=['USA','Germany','USSR','Japan'])

In [12]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [13]:
ser2 = pd.Series([1,2,5,4],index=['USA','Germany','Italy','Japan'])

In [14]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [15]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

## Data Frame

In [16]:
import pandas as pd
import numpy as np

In [17]:
from numpy.random import randn
np.random.seed(101)

In [18]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [19]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509