<a href="https://colab.research.google.com/github/Akanerd/Orbit-Archieve/blob/main/Day%202%20-%20Variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Membuat variabel
x = 5
y = 'John'
print(x)
print(y)

5
John

In [4]:
# Nilai pada variabel
z = 10
z = "Joe"
z = 20
print(z) # value z sama dengan value variabel a

20

In [5]:
a = z # value a sama dengan value variabel z
print(a)

20

In [6]:
b = x
c = y
print(b,y)

5 John

In [7]:
# Casting variabel
x = str(3)
y = int(3)
z = float(3)
print(x, y , z)

3 3 3.0

In [8]:
# Cek tipe data
# Case Sensitive
x_1 = 5
y_1 = "John"
print(x_1)
#print(y-1) akan error karena karakteristik case sensitive

In [9]:
print(y-1) # nama variabel y telah disebutkan sebelumnya dengan value dari variabel y adalah 3

2

In [10]:
var_1 = 10
var_2 = 10
print(var_1, var_2)

10 10

In [12]:
#variabel nama
#Aturan penamaan suatu variabel
pengaturan_nama_variabel = 10   # Snake Case
PengaturanNamaVariabel   = 10   # Camel Case (saran)