<a href="https://colab.research.google.com/github/Akanerd/Orbit-Archieve/blob/main/Day%206%20-%20Live%20Code%20Sesi%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **if Else**

In [9]:
x = 40
if x>= 20:
 print("Accept")
print("Coba")

Accept
Coba

# **If Else**

In [10]:
x = 60
if x>=75:
  print("lulus")
else:
  print("Tidak Lulus")

Tidak Lulus

# **If Elif Else**

In [11]:
x = 7.5
if x<4.5:
  print("Low")
elif x<5.5:
  print("Medium")
elif x<=7.5:
  print("High")
else:
  print("Over")

High

In [13]:
for i in range(5,10):
 print(i)

5
6
7
8
9

In [14]:
for letter in "Hello python":
  if letter == 'p':
    pass # biasanya digunakan untuk menghitung kalkulasi tapi hanya dilewatkan
print("yoi")

yoi

In [16]:
for letter in "Hello python":
  if letter == 'p':
    break
  print(letter)

H
e
l
l
o

In [17]:
for letter in "Hello python":
  if letter == 'p':
    continue
  print(letter)

H
e
l
l
o

y
t
h
o
n

In [18]:
mylist = [2,3,6,5,9]
sqlist = [x**2 for x in mylist]
print(sqlist)

[4, 9, 36, 25, 81]

In [19]:
sqlist = [x**2 for x in mylist if x%2 ==0]
print(sqlist)

[4, 36]

In [20]:
sqlist = [x**2 if x%2 ==0 else x**3 for x in mylist ]
print(sqlist)

[4, 27, 36, 125, 729]

In [24]:
dict ={"apple": 20,"Strawbery":30,"grapes":50,"watermelon":80}
newdict = {key:value+10 for(key,value)in dict.items()}
expensivedict ={key:value+10 for(key,value)in dict.items() if value<45}
raisedict = {key:(value+10 if value < 45 else value) for(key,value)in dict.items()}
print(newdict)
print(expensivedict)
print(raisedict)

{'apple': 30, 'Strawbery': 40, 'grapes': 60, 'watermelon': 90}
{'apple': 30, 'Strawbery': 40}
{'apple': 30, 'Strawbery': 40, 'grapes': 50, 'watermelon': 80}