<a href="https://colab.research.google.com/github/Akanerd/Orbit-Archieve/blob/main/Day%206%20-%20Live%20Code%20Sesi%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Operator**

In [2]:
x = 15
y = 4
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

19
11
60
3.75
3
3
50625

# **Comparison Operator**

In [5]:
x = 13
y = 25
print(x>y)
print(x<y)
print(x==y)
print(x!=y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

# **Logical**

In [8]:
import operator

print(operator.xor(True,False))

True

In [11]:
x = True
y = False

print(x and y)
print(x or y)
print(not x)
print(x & y)
print(x | y)
print(x ^ y)
print(not x and y)
print(not x or y)

False
True
False
False
True
True
False
False

# **Identity Operator**

In [ ]:
x3 = [1,2,3]
y3 = [1,2,3]
print(x3 is y3 ) # karena beda list beda memori

# **Membership Operators**

In [17]:
x = 'Hello World'
y ={1:'A',2:'B'}

print('h' in x)
print('h' not in x)
print(1 in y)
print('A' in y) # karena yang dicari pada indeks dictionary adalah keynya bukan value darikeynya

False
True
True
False

# **Input Python**

In [19]:
i = input("Masukkan sesuatu : ")

print(i)
print(type(i))

Masukkan sesuatu : 1223
1223
<class 'str'>