<a href="https://colab.research.google.com/github/Akanerd/Orbit-Archieve/blob/main/Day%207%20-%20Konsep%20Dasar%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Konsep Dasar Pandas**

kita akan membahas konsep dasar pandas untuk data analisis, kita sebelumnya telah mengenal series dan data frame pada pandas. Mari kita coba sedikit dan melanjutkan konsep-konsep penting pad pandas

In [4]:
import numpy as np
import pandas as pd

# **Membuat Series**

In [1]:
# Bahasa pemrograman yang populer

ser = ['python','C++','Java','Javascript','TypeScript']

In [5]:
pd.Series(ser)

0        python
1           C++
2          Java
3    Javascript
4    TypeScript
dtype: object

In [6]:
label = [1,2,3,4,5]

In [9]:
output = pd.Series(ser,label)
print(output)
'---------------------------'
print("Nama dan urutuan hanya contoh, Tidak menunjukkan urutan ke populer secara terukur")

1        python
2           C++
3          Java
4    Javascript
5    TypeScript
dtype: object
Nama dan urutuan hanya contoh, Tidak menunjukkan urutan ke populer secara terukur

> Sebuah series sangat mirip dengan Numpy array (faktanya, series pada Pandas dibangun pada Struktur fondasi Numpy array). Lalu, apa yang membedakan keduanya? Series dapat memiliki axis labels, dalam hal ini series dapat diindeks dari label

survey Stackover 2021

# **Missing Data pada Pandas**

In [ ]:
# lanjut dengan series dengan kasus missing data

In [10]:
import pandas as pd
import numpy as np

In [11]:
from numpy.random import randn
np.random.seed(101)

In [12]:
df = pd.DataFrame(randn(5,4),index= 'A B C D E'.split(),columns='W X Y Z'.split())

In [14]:
df = pd.DataFrame({'A': [1,2,np.nan],
                   'B': [5,np.nan,np.nan],
                   'C': [1,2,3]})

In [15]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [16]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [18]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [19]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

# **Input dan Output**

In [21]:
import numpy as np
import pandas as pd