<a href="https://colab.research.google.com/github/Akanerd/Orbit-Archieve/blob/main/Day%2011%20-%20FGD%20Module3%20Section%201%20Lab%201%20Data%20Manipulation%20With%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Manipulation With Pandas**

# **What is Series?**

Pandas Series is a one-dimensional labeled array capable of holding data of any type
(integer, string, float, python objects, etc.).

In [3]:
import pandas as pd
import numpy as np
x = np.array(['a','b','c','d'])
pd.Series(x)

0    a
1    b
2    c
3    d
dtype: object

We can change the indices using 'index' attribute.

In [4]:
s = pd.Series([1,2,3,4],index = ['a','b','c','d'])
print(s['c'])

3

# **What is DataFrame?**

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in
rows and columns.

In [5]:
data = {'name':['Molly','Nur','Indar','Adit'],
        'year':[2012,2014,2015,2012],
        'reports':[8,12,25,7]}
df = pd.DataFrame(data, index=['Medan','Bandung','Jakarta','Surabaya'])
print(df)

           name  year  reports
Medan     Molly  2012        8
Bandung     Nur  2014       12
Jakarta   Indar  2015       25
Surabaya   Adit  2012        7

Pandas use loc() and iloc() methods for manipulation of data.
*   loc() is label based data selecting method which means that we have to pass the name of
the row or column which we want to select.

*   iloc() is a indexed based selecting method which means that we have to pass integer index
in the method to select specific row/column.

In [6]:
print(df.loc['Jakarta']) #Mengambil data berdasarkan nama value

name       Indar
year        2015
reports       25
Name: Jakarta, dtype: object

In [10]:
print(df.iloc[3]) #Mengambil data berdasarkan indexnya

name       Adit
year       2012
reports       7
Name: Surabaya, dtype: object

# **DataFrame Basic Properties**

In [ ]:
import pandas as pd

In [11]:
# List dengan String
lst = ['Aman','Siya','Denver','Freya']

In [12]:
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

        0
0    Aman
1    Siya
2  Denver
3   Freya

In [13]:
# Demonstrate creating DataFrame from dict narray / lists
import pandas as pd
# intialise data of lists.
data = {'Name':['Nur','Gasang','Kia','Jack'],
        'Age': [18,22,20,28]}
# Create DataFrame
df = pd.DataFrame(data)
# Print the output.
print(df)

     Name  Age
0     Nur   18
1  Gasang   22
2     Kia   20
3    Jack   28

In [14]:
#Selecting columns
import pandas as pd
# Define a dictionary containing employee data
data = {'Name':['Adi','Gesang','Indar','Nur'],
        'Age':[27,34,22,30],
        'Address':['Jakarta','Bandung','Medan','Surabaya'],
        'Qualification':['Msc','BSc','MCA','Phd']}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df, "\n\n")

     Name  Age   Address Qualification
0     Adi   27   Jakarta           Msc
1  Gesang   34   Bandung           BSc
2   Indar   22     Medan           MCA
3     Nur   30  Surabaya           Phd

In [16]:
# select two columns
print(df[['Name', 'Qualification']])

     Name Qualification
0     Adi           Msc
1  Gesang           BSc
2   Indar           MCA
3     Nur           Phd

Here we are using loc and selecting data of people who live in ‘Medan’ and whose age>20.

In [24]:
#Selecting rows
import pandas as pd
data = {'Name':['Adi', 'Gesang', 'Indar', 'Nur', 'Pai'],
        'Age' :[27,34,22,30,25],
        'Address':['Medan','Bandung','Medan','Surabaya','Surabaya'],
       'Qualification':['Msc', 'BSc', 'MCA', 'Phd','BSc']}
df = pd.DataFrame(data)
# retrieving row by loc method
print(df.loc[(df.Address=='Medan')& (df.Age>20)])

    Name  Age Address Qualification
0    Adi   27   Medan           Msc
2  Indar   22   Medan           MCA

In [27]:
df.loc[2:5]

    Name  Age   Address Qualification
2  Indar   22     Medan           MCA
3    Nur   30  Surabaya           Phd
4    Pai   25  Surabaya           BSc

In [28]:
#This will return rows with index 0, 2 and 3.
df.iloc[[0,2,3]]

    Name  Age   Address Qualification
0    Adi   27     Medan           Msc
2  Indar   22     Medan           MCA
3    Nur   30  Surabaya           Phd

In [31]:
#This will return data of rows from 1st to 4th index and 1st to 2nd column.
df.iloc[1:5,1:3]

   Age   Address
1   34   Bandung
2   22     Medan
3   30  Surabaya
4   25  Surabaya

# **Importing Excel Sheets, csv files and executing SQL Queries**

In [33]:
df = pd.read_excel("sample.xlsx")
print(df)

                Book          Author
0      The Alchemist    Paulo Coelho
1           Becoming  Michelle Obama
2  Rich Dad Poor Dad  Robert Kiyoski

In [35]:
import pandas as pd
df = pd.read_excel("sample.xlsx", index_col = 0)
print(df)

                           Author
Book
The Alchemist        Paulo Coelho
Becoming           Michelle Obama
Rich Dad Poor Dad  Robert Kiyoski

In [37]:
import pandas as pd
df = pd.read_excel('sample.xlsx',header = None)
print(df)

                   0               1
0               Book          Author
1      The Alchemist    Paulo Coelho
2           Becoming  Michelle Obama
3  Rich Dad Poor Dad  Robert Kiyoski

In [38]:
url = 'https://raw.githubusercontent.com/bluedataconsulting/AIMasteryProgram/main/Lab_Exercises/Module2/PlantGrowth.csv'
df = pd.read_csv(url)
print(df)

    Unnamed: 0  weight group
0            1    4.17  ctrl
1            2    5.58  ctrl
2            3    5.18  ctrl
3            4    6.11  ctrl
4            5    4.50  ctrl
5            6    4.61  ctrl
6            7    5.17  ctrl
7            8    4.53  ctrl
8            9    5.33  ctrl
9           10    5.14  ctrl
10          11    4.81  trt1
11          12    4.17  trt1
12          13    4.41  trt1
13          14    3.59  trt1
14          15    5.87  trt1
15          16    3.83  trt1
16          17    6.03  trt1
17          18    4.89  trt1
18          19    4.32  trt1
19          20    4.69  trt1
20          21    6.31  trt2
21          22    5.12  trt2
22          23    5.54  trt2
23          24    5.50  trt2
24          25    5.37  trt2
25          26    5.29  trt2
26          27    4.92  trt2
27          28    6.15  trt2
28          29    5.80  trt2
29          30    5.26  trt2